KServer/JakubTestClient/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sunny.eng.utah.edu/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
  <xs:import schemaLocation="http://sunny.eng.utah.edu/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DJSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJSignUpResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJSignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJSignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJSignInResult" nillable="true" type="q2:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJSignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJSignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJSignOutResult" nillable="true" type="q3:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJCreateSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJCreateSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJCreateSessionResult" nillable="true" type="q4:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJAddSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="songs" nillable="true" type="q5:ArrayOfSong" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJAddSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJAddSongsResult" nillable="true" type="q6:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveSongs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="songs" nillable="true" type="q7:ArrayOfSong" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveSongsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJRemoveSongsResult" nillable="true" type="q8:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJAddQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="sr" nillable="true" type="q9:SongRequest" />
        <xs:element minOccurs="0" name="queueIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJAddQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJAddQueueResult" nillable="true" type="q10:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="sr" nillable="true" type="q11:SongRequest" />
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJRemoveSongRequestResult" nillable="true" type="q12:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJChangeSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="newSR" nillable="true" type="q13:SongRequest" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="oldSR" nillable="true" type="q14:SongRequest" />
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJChangeSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJChangeSongRequestResult" nillable="true" type="q15:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="newSR" nillable="true" type="q16:SongRequest" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="oldSR" nillable="true" type="q17:SongRequest" />
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJRemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJRemoveUserResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJMoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="sessionID" type="xs:int" />
        <xs:element minOccurs="0" name="DJKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJMoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJMoveUserResult" nillable="true" type="q19:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientSignUpResult" nillable="true" type="q20:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientSignInResult" nillable="true" type="q21:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientSignOutResult" nillable="true" type="q22:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="SearchResult" nillable="true" type="q23:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Browse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="firstLetter" type="q24:char" />
        <xs:element minOccurs="0" name="isArtist" type="xs:boolean" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="BrowseResult" nillable="true" type="q25:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="sr" nillable="true" type="q26:SongRequest" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientSongRequestResult" nillable="true" type="q27:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRemoveSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="sr" nillable="true" type="q28:SongRequest" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientRemoveSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientRemoveSongRequestResult" nillable="true" type="q29:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientChangeSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="prevSongID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="sr" nillable="true" type="q30:SongRequest" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientChangeSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="ClientChangeSongRequestResult" nillable="true" type="q31:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJQueueChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="queue" nillable="true" type="q32:ArrayOfqueueSinger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DJQueueChangedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="DJQueueChangedResult" nillable="true" type="q33:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>