KServer/JakubMobileClient/Service References/ServiceReference1/Mobile2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="testResult" nillable="true" type="q1:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSignUpResult" nillable="true" type="q2:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSignInResult" nillable="true" type="q3:LogInResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSignOutResult" nillable="true" type="q4:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSongSearchResult" nillable="true" type="q5:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongBrowse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="firstLetter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isArtist" type="xs:boolean" />
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongBrowseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSongBrowseResult" nillable="true" type="q6:ArrayOfSong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileSongRequestResult" nillable="true" type="q7:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileChangeSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oldSongID" type="xs:int" />
        <xs:element minOccurs="0" name="newSongID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileChangeSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileChangeSongRequestResult" nillable="true" type="q8:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRemoveSongRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRemoveSongRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileRemoveSongRequestResult" nillable="true" type="q9:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileViewQueueResult" nillable="true" type="q10:ArrayOfqueueSinger" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileGetWaitTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileGetWaitTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileGetWaitTimeResult" nillable="true" type="q11:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileJoinVenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileJoinVenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileJoinVenueResult" nillable="true" type="q12:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewSongHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="start" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewSongHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileViewSongHistoryResult" nillable="true" type="q13:ArrayOfSongHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCreatePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileCreatePlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileCreatePlaylistResult" nillable="true" type="q14:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileDeletePlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playListID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileDeletePlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileDeletePlaylistResult" nillable="true" type="q15:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileAddSongToPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="playListID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileAddSongToPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileAddSongToPlaylistResult" nillable="true" type="q16:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRemoveSongFromPlaylist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="playListID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRemoveSongFromPlaylistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileRemoveSongFromPlaylistResult" nillable="true" type="q17:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRateSong">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileRateSongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileRateSongResult" nillable="true" type="q18:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewSongRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="songID" type="xs:int" />
        <xs:element minOccurs="0" name="venueID" type="xs:int" />
        <xs:element minOccurs="0" name="userKey" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MobileViewSongRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/KServer" minOccurs="0" name="MobileViewSongRatingResult" nillable="true" type="q19:Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>