KServer/JakubMobileClient/Service References/ServiceReference1/Mobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Mobile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobile_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IMobile_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUp" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignIn" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignOut" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongSearch" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongBrowse_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongBrowse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongBrowse_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongBrowseResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongRequest" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewQueue" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewQueueResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobile">
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/test" message="tns:IMobile_test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/testResponse" message="tns:IMobile_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignUp" message="tns:IMobile_MobileSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignUpResponse" message="tns:IMobile_MobileSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignIn" message="tns:IMobile_MobileSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignInResponse" message="tns:IMobile_MobileSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignOut" message="tns:IMobile_MobileSignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignOutResponse" message="tns:IMobile_MobileSignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongSearch" message="tns:IMobile_MobileSongSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongSearchResponse" message="tns:IMobile_MobileSongSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongBrowse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongBrowse" message="tns:IMobile_MobileSongBrowse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongBrowseResponse" message="tns:IMobile_MobileSongBrowse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongRequest" message="tns:IMobile_MobileSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongRequestResponse" message="tns:IMobile_MobileSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileViewQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileViewQueue" message="tns:IMobile_MobileViewQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileViewQueueResponse" message="tns:IMobile_MobileViewQueue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Mobile" />
</wsdl:definitions>