KServer/JakubMobileClient/Service References/ServiceReference1/Mobile.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Mobile" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:81/Mobile.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMobile_test_InputMessage">
    <wsdl:part name="parameters" element="tns:test" />
  </wsdl:message>
  <wsdl:message name="IMobile_test_OutputMessage">
    <wsdl:part name="parameters" element="tns:testResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUp" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignIn" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignInResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignOut" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongSearch" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongBrowse_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongBrowse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongBrowse_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongBrowseResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongRequest" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileChangeSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileChangeSongRequest" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileChangeSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileChangeSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRemoveSongRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileRemoveSongRequest" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRemoveSongRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileRemoveSongRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewQueue" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileGetWaitTime_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileGetWaitTime" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileGetWaitTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileGetWaitTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileJoinVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileJoinVenue" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileJoinVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileJoinVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewSongHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewSongHistory" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewSongHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewSongHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileCreatePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileCreatePlaylist" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileCreatePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileCreatePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileDeletePlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileDeletePlaylist" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileDeletePlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileDeletePlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileAddSongToPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileAddSongToPlaylist" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileAddSongToPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileAddSongToPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRemoveSongFromPlaylist_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileRemoveSongFromPlaylist" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRemoveSongFromPlaylist_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileRemoveSongFromPlaylistResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileGetPlayLists_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileGetPlayLists" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileGetPlayLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileGetPlayListsResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRateSong_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileRateSong" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileRateSong_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileRateSongResponse" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewSongRating_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewSongRating" />
  </wsdl:message>
  <wsdl:message name="IMobile_MobileViewSongRating_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileViewSongRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="IMobile">
    <wsdl:operation name="test">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/test" message="tns:IMobile_test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/testResponse" message="tns:IMobile_test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignUp" message="tns:IMobile_MobileSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignUpResponse" message="tns:IMobile_MobileSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignIn" message="tns:IMobile_MobileSignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignInResponse" message="tns:IMobile_MobileSignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSignOut" message="tns:IMobile_MobileSignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSignOutResponse" message="tns:IMobile_MobileSignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongSearch" message="tns:IMobile_MobileSongSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongSearchResponse" message="tns:IMobile_MobileSongSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongBrowse">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongBrowse" message="tns:IMobile_MobileSongBrowse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongBrowseResponse" message="tns:IMobile_MobileSongBrowse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileSongRequest" message="tns:IMobile_MobileSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileSongRequestResponse" message="tns:IMobile_MobileSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileChangeSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileChangeSongRequest" message="tns:IMobile_MobileChangeSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileChangeSongRequestResponse" message="tns:IMobile_MobileChangeSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileRemoveSongRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileRemoveSongRequest" message="tns:IMobile_MobileRemoveSongRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileRemoveSongRequestResponse" message="tns:IMobile_MobileRemoveSongRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileViewQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileViewQueue" message="tns:IMobile_MobileViewQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileViewQueueResponse" message="tns:IMobile_MobileViewQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileGetWaitTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileGetWaitTime" message="tns:IMobile_MobileGetWaitTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileGetWaitTimeResponse" message="tns:IMobile_MobileGetWaitTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileJoinVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileJoinVenue" message="tns:IMobile_MobileJoinVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileJoinVenueResponse" message="tns:IMobile_MobileJoinVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileViewSongHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileViewSongHistory" message="tns:IMobile_MobileViewSongHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileViewSongHistoryResponse" message="tns:IMobile_MobileViewSongHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileCreatePlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileCreatePlaylist" message="tns:IMobile_MobileCreatePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileCreatePlaylistResponse" message="tns:IMobile_MobileCreatePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileDeletePlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileDeletePlaylist" message="tns:IMobile_MobileDeletePlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileDeletePlaylistResponse" message="tns:IMobile_MobileDeletePlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileAddSongToPlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileAddSongToPlaylist" message="tns:IMobile_MobileAddSongToPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileAddSongToPlaylistResponse" message="tns:IMobile_MobileAddSongToPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileRemoveSongFromPlaylist">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileRemoveSongFromPlaylist" message="tns:IMobile_MobileRemoveSongFromPlaylist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileRemoveSongFromPlaylistResponse" message="tns:IMobile_MobileRemoveSongFromPlaylist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileGetPlayLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileGetPlayLists" message="tns:IMobile_MobileGetPlayLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileGetPlayListsResponse" message="tns:IMobile_MobileGetPlayLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileRateSong">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileRateSong" message="tns:IMobile_MobileRateSong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileRateSongResponse" message="tns:IMobile_MobileRateSong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileViewSongRating">
      <wsdl:input wsaw:Action="http://tempuri.org/IMobile/MobileViewSongRating" message="tns:IMobile_MobileViewSongRating_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMobile/MobileViewSongRatingResponse" message="tns:IMobile_MobileViewSongRating_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="Mobile" />
</wsdl:definitions>