KServer/MobiokeWebSite/Service References/ServiceReference1/Website.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Website" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1718/Website.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1718/Website.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sunny.eng.utah.edu:1718/Website.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KServer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebsite_SendEmailWithUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithUsername" />
  </wsdl:message>
  <wsdl:message name="IWebsite_SendEmailWithUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailWithUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_StartPasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:StartPasswordReset" />
  </wsdl:message>
  <wsdl:message name="IWebsite_StartPasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ValidatePasswordResetKey_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResetKey" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ValidatePasswordResetKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidatePasswordResetKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IWebsite_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ChangeEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmail" />
  </wsdl:message>
  <wsdl:message name="IWebsite_ChangeEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_DJSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUp" />
  </wsdl:message>
  <wsdl:message name="IWebsite_DJSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:DJSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_MobileSignUp_InputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUp" />
  </wsdl:message>
  <wsdl:message name="IWebsite_MobileSignUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobileSignUpResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_EnableDisableRegistration_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableRegistration" />
  </wsdl:message>
  <wsdl:message name="IWebsite_EnableDisableRegistration_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableRegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IWebsite_IsRegistrationAllowed_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistrationAllowed" />
  </wsdl:message>
  <wsdl:message name="IWebsite_IsRegistrationAllowed_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRegistrationAllowedResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebsite">
    <wsdl:operation name="SendEmailWithUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/SendEmailWithUsername" message="tns:IWebsite_SendEmailWithUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/SendEmailWithUsernameResponse" message="tns:IWebsite_SendEmailWithUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartPasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/StartPasswordReset" message="tns:IWebsite_StartPasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/StartPasswordResetResponse" message="tns:IWebsite_StartPasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordResetKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/ValidatePasswordResetKey" message="tns:IWebsite_ValidatePasswordResetKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/ValidatePasswordResetKeyResponse" message="tns:IWebsite_ValidatePasswordResetKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/Login" message="tns:IWebsite_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/LoginResponse" message="tns:IWebsite_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/ChangePassword" message="tns:IWebsite_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/ChangePasswordResponse" message="tns:IWebsite_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/ChangeEmail" message="tns:IWebsite_ChangeEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/ChangeEmailResponse" message="tns:IWebsite_ChangeEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DJSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/DJSignUp" message="tns:IWebsite_DJSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/DJSignUpResponse" message="tns:IWebsite_DJSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobileSignUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/MobileSignUp" message="tns:IWebsite_MobileSignUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/MobileSignUpResponse" message="tns:IWebsite_MobileSignUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableDisableRegistration">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/EnableDisableRegistration" message="tns:IWebsite_EnableDisableRegistration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/EnableDisableRegistrationResponse" message="tns:IWebsite_EnableDisableRegistration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRegistrationAllowed">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebsite/IsRegistrationAllowed" message="tns:IWebsite_IsRegistrationAllowed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebsite/IsRegistrationAllowedResponse" message="tns:IWebsite_IsRegistrationAllowed_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWebsite" type="tns:IWebsite">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendEmailWithUsername">
      <soap:operation soapAction="http://tempuri.org/IWebsite/SendEmailWithUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartPasswordReset">
      <soap:operation soapAction="http://tempuri.org/IWebsite/StartPasswordReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidatePasswordResetKey">
      <soap:operation soapAction="http://tempuri.org/IWebsite/ValidatePasswordResetKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IWebsite/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IWebsite/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmail">
      <soap:operation soapAction="http://tempuri.org/IWebsite/ChangeEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DJSignUp">
      <soap:operation soapAction="http://tempuri.org/IWebsite/DJSignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobileSignUp">
      <soap:operation soapAction="http://tempuri.org/IWebsite/MobileSignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnableDisableRegistration">
      <soap:operation soapAction="http://tempuri.org/IWebsite/EnableDisableRegistration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRegistrationAllowed">
      <soap:operation soapAction="http://tempuri.org/IWebsite/IsRegistrationAllowed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Website">
    <wsdl:port name="BasicHttpBinding_IWebsite" binding="tns:BasicHttpBinding_IWebsite">
      <soap:address location="http://sunny.eng.utah.edu:1718/Website.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>